<!DOCTYPE html>
<title>ds4all</title>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

  <style>
.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.overflow{
    overflow: hidden;
}

form {
    display: inline-block; //Or display: inline; 
}
</style>




<nav class="navbar navbar-default">


    <ul class="nav navbar-nav">


        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><font size="4" color="grey">ds4all</font><span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/">NLQ</a></li>
          <li><a href="#">DS pipeline</a></li>
        </ul>

      
      <li><a href="/nlq">NLQ:</a></li>
      <li><a href="/tutorial">Tutorial</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/education">Education</a></li>
      <li><a href="/thanks">Thanks</a></li>
      
      <!-- <li><a href="#">Job & Price</a></li> -->
      </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

    </ul>
  </div>
</nav>

<div class="overflow">
<img src='SFBanner.jpg' alt="logo" height = 150px> <br>
</div>

  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>

  <div style="padding-right:150px;">
  <body>
    <div class="container">
      <div class="header">
        <h2 class="text-muted">Projects</h2>
      </div>
      <hr/>
      <div>



  You can find here some examples of study, download the databases on your computer, use them directly to get results.



  <ul>

      <div class="container">
      <div class="header">
        <h4 class="text-muted">NSF: Chemistry</h4>
      </div>

      <div>
      NSF_Chem_2013

    <a href="/return_NSF_Chem_2013/" target="blank"><button class='btn-md btn-default'>Download</button></a>    
    &nbsp; Run NLQ: <form action="/predict_NSF_Chem_2013" method="post">
    <input name='NSF_Chem_2013.csv' type="submit" />
    </form> <br><br>


    <div class="container">
    <div class="header">
      <h4 class="text-muted">NSF: Biology</h4>
    </div>

    <div>
    NSF_Bio_2015

  <a href="/return_NSF_Bio_2015/" target="blank"><button class='btn-md btn-default'>Download</button></a>    
  &nbsp; Run NLQ: <form action="/predict_NSF_Bio_2015" method="post">
  <input name='NSF_Bio_2015.csv' type="submit" />
  </form>










  </ul>